//=============================================================================
// Classes
//=============================================================================
//=====================================
// 16-Grid
//=====================================
.col {
    padding: 0 $space-med;
    float: left;
}

.col-2-16 {
    width: 12.5%;
}

.col-4-16 {
    width: 25%;
}

.col-6-16 {
    width: 37.5%;
}

.col-8-16 {
    width: 50%;
}

.col-10-16 {
    width: 62.5%
}

.col-12-16 {
    width: 75%
}

.col-14-16 {
    width: 87.5%;
}

.col-end {
    float: right;
}

.col-max {
    width: 100%;
    float: none;
}

.omega {
    float: none;
    overflow: auto;
    width: auto;
}